*{
    font-family: 'Montserrat Alternates', sans-serif;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6) ), url('/static/img/puzzle_hero.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav h2{
    font-weight: bold;
}

.logo{
    width: 43px;
    height: 43px;
    margin-left: 5px;
    margin-top: 2px;
}

.side-dash{
    position: fixed;
    top: 90px;
    right: 40px;
    width: 200px;
    height: 180px; 
    background: #e2e2e2;
    font-size: 20px;
}
.side-dash ul li{
    list-style-type: none;
}

.side-story{
    width: 280px;
}

.side-story ul li{
    list-style-type: none;
}

#footer{
    height: 50px;
}

#footer ul li{
    display: inline-block;
}